@import 'https://fonts.googleapis.com/css?family=Droid+Sans+Mono';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600';
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  background-color: #f5f5f5;
  color: #313131;
  line-height: 21px;
}

h1, h2, h3 {
  text-align: center;
}

p {
  margin: auto;
  width: 100%;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  margin: 20px;
  margin-bottom: 10px;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  max-width: 800px;
  margin: auto;
  padding: 0 40px;
}

.o-list {
  margin-top: 20px;
  margin-left: 20px;
}

.o-list li {
  margin-bottom: 20px;
}

code,
.inline-code {
  font-family: Droid Sans Mono;
  background-color: #eee;
  padding: 3px 5px;
  color: #e74c3c;
  display: inline-block;
  font-size: 12px;
}

code {
  display: block;
  overflow: auto;
  color: #515151;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  white-space: pre;
  text-align: left;
}

code .inline-code {
  padding: 0;
}

code .code-comment {
  color: #aaa;
}

code strong {
  color: #777;
}

.logo h1 {
  font-family: Roboto Slab;
  font-size: 80px;
  color: #e74c3c;
  font-weight: 400;
  padding: 80px;
}

section {
  margin-top: 60px;
  margin-bottom: 40px;
}

@media all and (max-width: 512px) {
  .wrapper {
    padding: 0 20px;
  }
  .wrapper p {
    text-align: left;
  }
}
